/* navbar */
.navbar-default{
  box-shadow: 0px 0px 5px black;
}
.logo{
  padding-top: 2px;
  padding-right: 15px;
}
.navbar.navbar-default{
  border-radius: 0px;
}
#sign-in-link,#sign-up-link{
  padding: 5px 11px;
  margin: 7px;
}
#sign-in-link:hover,#sign-up-link:hover{
  color: rgb(26, 35, 42);
}
#sign-in-link{
  border: 2px solid white;
  color: white;
}
#sign-in-link:hover{
  background-color: white;
}
#sign-up-link{
  border: 2px solid rgb(59, 213, 190);
  color: rgb(59, 213, 190);
}
#sign-up-link:hover{
  background-color: rgb(59, 213, 190);
}/* navbar */


